In [1]:
import pandas as pd
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor

In [2]:
df_train = pd.read_excel('class_A.xlsx')
df_test = pd.read_excel('class_B.xlsx')
df_predict = pd.read_excel('class_C.xlsx')

df_train_db, df_test_db, df_predict_db = df_train.iloc[:,6:15], df_test.iloc[:,6:15], df_predict.iloc[:,6:15]
df_train_matstat, df_test_matstat, df_predict_matstat = df_train.iloc[:,16:23], df_test.iloc[:,16:23], df_predict.iloc[:,16:23]
df_train_quant, df_test_quant, df_predict_quant = df_train.iloc[:,24:36], df_test.iloc[:,24:36], df_predict.iloc[:,24:36]

df_predict_db.head()

,ЛР1(10),ЛР2(15),ЛР3(10),ДЗ1(20),ДЗ2(10),ДЗ3(15),Зачетная работа(20),ИТОГО,ОЦЕНКА
0,4,7,5,15,7,15,NaN,NaN,NaN
1,7,0,7,13,6,11,NaN,NaN,NaN
2,7,9,2,17,10,15,NaN,NaN,NaN
3,5,15,9,15,4,7,NaN,NaN,NaN
4,2,15,2,19,4,15,NaN,NaN,NaN

In [3]:
df_predict[['Зачетная работа(20)', 'ИТОГО', 'ОЦЕНКА', 'Экзамен(40)', 'ИТОГО.1', 'ОЦЕНКА.1', 'Экзамен(40).1', 'ИТОГО.2', 'ОЦЕНКА.2']]=df_predict[['Зачетная работа(20)', 'ИТОГО', 'ОЦЕНКА', 'Экзамен(40)', 'ИТОГО.1', 'ОЦЕНКА.1', 'Экзамен(40).1', 'ИТОГО.2', 'ОЦЕНКА.2']].astype('int', errors='ignore')
df_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 36 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   №                                                20 non-null     int64
 1   Фамилия                                          20 non-null     object
 2   Имя                                              20 non-null     object
 3   Отчество                                         20 non-null     object
 4   Дата рождения                                    20 non-null     datetime64[ns]
 5   Базы данных                                      0 non-null      float64
 6   ЛР1(10)                                          20 non-null     int64
 7   ЛР2(15)                                          20 non-null     int64
 8   ЛР3(10)                                          20 non-null     int64
 9   ДЗ1(20)                                          20 non-null     int64
 10  ДЗ2(10)                                          20 non-null     int64
 11  ДЗ3(15)                                          20 non-null     int64
 12  Зачетная работа(20)                              0 non-null      float64
 13  ИТОГО                                            0 non-null      float64
 14  ОЦЕНКА                                           0 non-null      float64
 15  Теория вероятностей и математическая статистика  0 non-null      float64
 16  КР1(15)                                          20 non-null     int64
 17  КР2(20)                                          20 non-null     int64
 18  КР3(15)                                          20 non-null     int64
 19  КР4(10)                                          20 non-null     int64
 20  Экзамен(40)                                      0 non-null      float64
 21  ИТОГО.1                                          0 non-null      float64
 22  ОЦЕНКА.1                                         0 non-null      float64
 23  Квантовая физика                                 0 non-null      float64
 24  ЛР1(4)                                           20 non-null     int64
 25  ЛР2(4)                                           20 non-null     int64
 26  ЛР3(4)                                           20 non-null     int64
 27  ЛР4(4)                                           20 non-null     int64
 28  ЛР(5)                                            20 non-null     int64
 29  ТЕСТ1(5)                                         20 non-null     int64
 30  ТЕСТ2(5)                                         20 non-null     int64
 31  КР1(15).1                                        20 non-null     int64
 32  КР2(15)                                          20 non-null     int64
 33  Экзамен(40).1                                    0 non-null      float64
 34  ИТОГО.2                                          0 non-null      float64
 35  ОЦЕНКА.2                                         0 non-null      float64
dtypes: datetime64[ns](1), float64(12), int64(20), object(3)
memory usage: 5.8+ KB

In [4]:
df_train_db, df_test_db, df_predict_db = df_train.iloc[:,6:15], df_test.iloc[:,6:15], df_predict.iloc[:,6:15]
df_train_matstat, df_test_matstat, df_predict_matstat = df_train.iloc[:,16:23], df_test.iloc[:,16:23], df_predict.iloc[:,16:23]
df_train_quant, df_test_quant, df_predict_quant = df_train.iloc[:,24:36], df_test.iloc[:,24:36], df_predict.iloc[:,24:36]

In [5]:
# Базы данных

model_db = RandomForestRegressor()
model_db.fit(df_train_db.iloc[:,0:6].values.reshape(-1,6), y=df_train_db['Зачетная работа(20)'].values)

df_test_db['Predict']=model_db.predict(df_test_db.iloc[:,0:6].values.reshape(-1,6))
#pd.crosstab(df_test_db['Predict'],df_test_db['Зачетная работа(20)'])
df_test_db.head(15)

,ЛР1(10),ЛР2(15),ЛР3(10),ДЗ1(20),ДЗ2(10),ДЗ3(15),Зачетная работа(20),ИТОГО,ОЦЕНКА,Predict
0,9,1,4,15,5,15,11,60,3,11.81
1,5,13,10,15,8,12,15,78,4,12.51
2,5,10,7,14,7,7,6,56,3,11.87
3,7,6,9,19,4,6,11,62,3,10.29
4,2,11,7,18,10,6,12,66,3,11.68
5,7,2,1,18,3,10,9,50,3,8.08
6,4,8,3,15,3,6,8,47,2,7.88
7,6,6,10,12,9,7,11,61,3,12.51
8,10,11,9,15,5,13,15,78,4,12.76
9,3,11,1,16,4,14,10,59,3,8.76
10,5,8,10,16,9,14,16,78,4,10.92
11,6,8,8,17,8,6,12,65,3,11.31
12,3,13,7,18,3,15,13,72,4,7.49
13,9,15,2,17,7,9,13,72,4,11.51
14,8,12,6,15,8,12,0,61,3,12.23

In [6]:
df_predict_db['Зачетная работа(20)']=model_db.predict(df_predict_db.iloc[:,0:6].values.reshape(-1,6))
df_predict_db['ИТОГО']=df_predict_db.iloc[:,0:7].sum(axis=1)

df_predict_db['ОЦЕНКА']=[(5 if score_db >=85 else 4) if score_db >=70 else (3 if score_db >=50 else 2) for score_db in df_predict_db['ИТОГО']]

df_predict_db.head(15)
#df_predict_db.info()

,ЛР1(10),ЛР2(15),ЛР3(10),ДЗ1(20),ДЗ2(10),ДЗ3(15),Зачетная работа(20),ИТОГО,ОЦЕНКА
0,4,7,5,15,7,15,11.00,64.00,3
1,7,0,7,13,6,11,12.69,56.69,3
2,7,9,2,17,10,15,10.21,70.21,4
3,5,15,9,15,4,7,11.10,66.10,3
4,2,15,2,19,4,15,8.82,65.82,3
5,4,4,8,17,7,12,11.17,63.17,3
6,8,14,3,16,7,7,12.03,67.03,3
7,5,1,2,18,8,8,12.42,54.42,3
8,4,3,7,13,9,13,13.20,62.20,3
9,3,8,10,13,7,15,11.67,67.67,3
10,6,8,1,13,4,12,9.54,53.54,3
11,9,13,3,11,5,14,11.89,66.89,3
12,3,13,2,11,4,6,10.61,49.61,2
13,10,2,6,19,5,12,11.53,65.53,3
14,3,0,9,17,10,11,11.51,61.51,3

In [7]:
# Теория вероятностей и математическая статистика

model_matstat = RandomForestRegressor()
model_matstat.fit(df_train_matstat.iloc[:,0:4].values.reshape(-1,4), y=df_train_matstat['Экзамен(40)'].values)

df_test_matstat['Predict']=model_matstat.predict(df_test_matstat.iloc[:,0:4].values.reshape(-1,4))
#pd.crosstab(df_test_db['Predict'],df_test_db['Экзамен(40)'])
df_test_matstat.head(15)

,КР1(15),КР2(20),КР3(15),КР4(10),Экзамен(40),ИТОГО.1,ОЦЕНКА.1,Predict
0,9,15,8,8,37,77,4,23.98
1,12,9,12,10,27,70,4,25.10
2,6,13,7,10,17,53,2,16.67
3,6,13,8,5,23,55,3,16.65
4,3,14,13,5,19,54,2,20.81
5,4,8,14,8,21,55,3,19.70
6,6,5,11,10,20,52,2,18.69
7,8,8,11,10,22,59,3,21.70
8,3,14,14,10,37,78,4,21.44
9,0,8,14,5,16,43,2,19.57
10,9,3,7,7,18,44,2,18.11
11,15,15,4,6,40,80,4,28.07
12,13,6,14,9,30,72,4,24.89
13,3,0,12,6,16,37,2,18.94
14,13,16,6,10,24,69,3,23.87

In [8]:
df_predict_matstat['Экзамен(40)']=model_matstat.predict(df_predict_matstat.iloc[:,0:4].values.reshape(-1,4))
df_predict_matstat['ИТОГО.1']=df_predict_matstat.iloc[:,0:5].sum(axis=1)

df_predict_matstat['ОЦЕНКА.1']=[(5 if score_matstat >=85 else 4) if score_matstat >=70 else (3 if score_matstat >=50 else 2) for score_matstat in df_predict_matstat['ИТОГО.1']]

df_predict_matstat.head(15)
#df_predict_matstat.info()

    КР1(15)  КР2(20)  КР3(15)  КР4(10)  Экзамен(40)  ИТОГО.1  ОЦЕНКА.1
0        15       14        8        6        23.74    66.74         3
1         0       19       15        7        22.17    63.17         3
2         3       16       15        6        20.63    60.63         3
3        10        8        8        8        19.87    53.87         3
4         8        7       10       10        21.30    56.30         3
5         0       20       15        9        23.17    67.17         3
6         4       12       12        6        20.34    54.34         3
7         4       11       12        8        20.04    55.04         3
8         4       14        5        5        18.42    46.42         2
9        12       20        8        7        23.07    70.07         4
10        1       11        4        5        20.45    41.45         2
11        8        5        4        8        25.08    50.08         3
12       15        3       14       10        27.41    69.41         3
13        3       10       10        8        17.56    48.56         2
14        4       20        4        9        24.07    61.07         3

In [9]:
# Квантовая физика

model_quant = RandomForestRegressor()
model_quant.fit(df_train_quant.iloc[:,0:9].values.reshape(-1,9), y=df_train_quant['Экзамен(40).1'].values)

df_test_quant['Predict']=model_quant.predict(df_test_quant.iloc[:,0:9].values.reshape(-1,9))
#pd.crosstab(df_test_db['Predict'],df_test_db['Экзамен(40).1'])
df_test_quant.head(15)

,ЛР1(4),ЛР2(4),ЛР3(4),ЛР4(4),ЛР(5),ТЕСТ1(5),ТЕСТ2(5),КР1(15).1,КР2(15),Экзамен(40).1,ИТОГО.2,ОЦЕНКА.2,Predict
0,4,0,0,1,3,3,2,6,10,24,53,3,27.44
1,2,1,0,3,1,5,0,6,9,23,50,3,26.39
2,1,1,1,4,4,3,0,9,10,26,59,3,24.65
3,1,4,4,4,1,0,1,13,8,28,64,3,25.26
4,1,2,4,1,1,1,0,10,14,27,61,3,29.19
5,4,4,2,0,3,3,0,11,6,26,59,3,18.91
6,0,2,2,4,4,5,2,6,9,27,61,3,24.28
7,0,3,0,2,0,5,1,6,8,22,47,2,26.68
8,0,1,1,1,4,3,4,7,15,28,64,3,30.93
9,0,1,4,0,1,0,0,10,11,23,50,3,27.75
10,0,0,1,4,2,3,3,10,9,26,58,3,25.95
11,3,3,2,4,4,2,0,15,14,40,87,5,33.32
12,2,0,3,4,3,3,2,11,9,28,65,3,25.78
13,0,4,4,4,2,3,1,13,9,30,70,4,25.91
14,4,0,4,3,1,2,5,9,8,28,64,3,27.80

In [10]:
df_predict_quant['Экзамен(40).1']=model_quant.predict(df_predict_quant.iloc[:,0:9].values.reshape(-1,9))
df_predict_quant['ИТОГО.2']=df_predict_quant.iloc[:,0:10].sum(axis=1)

df_predict_quant['ОЦЕНКА.2']=[(5 if score_quant >=85 else 4) if score_quant >=70 else (3 if score_quant >=50 else 2) for score_quant in df_predict_quant['ИТОГО.2']]

df_predict_quant.head(15)
#df_predict_quant.info()

,ЛР1(4),ЛР2(4),ЛР3(4),ЛР4(4),ЛР(5),ТЕСТ1(5),ТЕСТ2(5),КР1(15).1,КР2(15),Экзамен(40).1,ИТОГО.2,ОЦЕНКА.2
0,4,3,1,2,1,4,5,5,11,29.26,65.26,3
1,2,1,4,3,4,2,4,14,5,18.27,57.27,3
2,3,1,0,3,2,5,2,14,10,30.06,70.06,4
3,2,3,1,1,0,4,2,6,15,30.61,64.61,3
4,1,1,0,2,2,0,1,11,13,28.90,59.90,3
5,1,1,0,4,4,5,5,15,8,28.02,71.02,4
6,3,4,0,4,4,2,4,15,6,17.76,59.76,3
7,4,3,0,3,2,3,4,14,14,38.34,85.34,5
8,1,3,2,2,1,4,0,14,8,29.10,64.10,3
9,3,2,1,1,0,1,2,11,8,28.52,57.52,3
10,3,2,2,1,1,4,5,12,13,36.17,79.17,4
11,0,4,3,3,0,5,4,9,7,16.28,51.28,3
12,2,2,0,4,4,1,1,6,7,14.94,41.94,2
13,1,3,3,0,4,2,2,14,14,31.25,74.25,4
14,2,0,0,0,2,3,5,12,4,18.73,46.73,2